.block{
display:block;
background:lightblue;
margin:10px;
}

.inline{
display:inline;
background:lightgreen;
}

.inlineblock{
display:inline-block;
width:100px;
height:100px;
background:orange;
margin:5px;
}

.hidden{
display:none;
}

.invisible{
visibility:hidden;
}