.relative{
position:relative;
left:30px;
}

.absolute{
position:absolute;
top:50px;
left:50px;
background:red;
color:white;
padding:10px;
}

.fixed{
position:fixed;
top:0;
width:100%;
background:black;
color:white;
}

.sticky{
position:sticky;
top:0;
background:yellow;
}