/* Hover Effects */

.rotate:hover{
transform:rotate(15deg);
transition:0.5s;
}

.scale:hover{
transform:scale(1.2);
transition:0.5s;
}

.move:hover{
transform:translateX(30px);
transition:0.5s;
}

/* Image Filters */

.blur{
filter:blur(3px);
}

.brightness{
filter:brightness(120%);
}

/* Gradient Text */

.gradient{
background:linear-gradient(red,blue);
-webkit-background-clip:text;
color:transparent;
}