/* Universal Selector */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

/* Element Selector */
body{
background:#f4f4f4;
padding:20px;
}

/* Navigation */
nav{
margin:20px 0;
}

nav a{
margin-right:20px;
text-decoration:none;
color:blue;
}

nav a:hover{
color:red;
}

/* Class Selector */
.box{
background:lightgray;
padding:15px;
margin:10px 0;
}

/* ID Selector */
#unique{
background:yellow;
padding:10px;
}

/* Attribute Selector */
input[type="text"]{
border:2px solid black;
padding:5px;
}

/* Pseudo Classes */
li:first-child{
color:red;
}

li:last-child{
color:blue;
}

li:nth-child(2){
color:green;
}