h1{
font-size:36px;
text-align:center;
}

p{
font-size:18px;
line-height:1.6;
}

/* Text Transform */
.upper{
text-transform:uppercase;
}

/* Text Decoration */
.underline{
text-decoration:underline;
}

/* Text Shadow */
.shadow{
text-shadow:2px 2px 5px gray;
}

/* Letter spacing */
.spacing{
letter-spacing:3px;
}